<div class="ui tab" data-tab="recurring">
    <h3 class="ui dividing header">{{ 'bitbag_sylius_mollie_plugin.ui.product_variant.tab.recurring'|trans }}</h3>
    <div class="ui segment" id="recurring-variant-settings">
        <table class="ui table">
            <tr>
                <td>
                    {{ form_label(form.recurring) }}
                </td>
                <td>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            {{ form_widget(form.recurring) }}
                            {{ form_errors(form.recurring) }}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.times) }}
                </td>
                <td>
                    {{ form_widget(form.times) }}
                    {{ form_errors(form.times) }}
                    <small>
                        {{ form_help(form.times) }}
                    </small>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.interval.amount) }}
                </td>
                <td>
                    <div class="field inline">
                        <div id="recurring-interval-amount">
                            {{ form_widget(form.interval.amount) }}
                            {{ form_help(form.interval.amount) }}
                            {{ form_errors(form.interval.amount) }}
                        </div>
                        <div id="recurring-interval-step">
                            {{ form_widget(form.interval.step) }}
                            {{ form_help(form.interval.step) }}
                            {{ form_errors(form.interval.step) }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    {{ sylius_template_event(['sylius.admin.product_variant.' ~ action ~ '.tab_recurring', 'sylius.admin.product_variant.tab_recurring'], {'form': form}) }}
</div>
