<div class="ui tab" data-tab="recurring">
    <h3 class="ui dividing header">{{ 'bitbag_sylius_mollie_plugin.ui.product_variant.tab.recurring'|trans }}</h3>
    <div class="ui segment">
        {{ form_row(form.recurring) }}
        {{ form_row(form.times) }}
        {{ form_row(form.interval) }}
    </div>

    {{ sylius_template_event(['sylius.admin.product_variant.' ~ action ~ '.tab_recurring', 'sylius.admin.product_variant.tab_recurring'], {'form': form}) }}
</div>
