{#TODO move style to assets#}
<style>
    .form-fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .label {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 600;
    }

    .form-error,
    .field-error {
        margin-top: 8px;
        margin-bottom: 0;
        color: #f00;
        font-size: 13px;
        font-weight: 500;
    }

    .mollie-component {
        width: 100%;
        padding: 10px 15px;
        color: #222;

        border: 2px solid transparent;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.05);

        transition: all 0.05s ease;
    }

    .mollie-component.has-focus {
        border-color: #07f;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    }

    .mollie-component.is-invalid {
        border-color: #f00;
        background-color: #fff0f0;
    }

    @media (min-width: 321px) {
        .form-fields {
            grid-template-columns: 1fr 1fr;
        }

        .form-group--card-number {
            grid-column: span 2;
        }
    }
</style>

{% block sylius_checkout_payment_mollie %}
    {% for key, method in form.mollie_payment_options %}
        {% if key == 'molliePaymentMethods' and method.vars.choices|length > 0 %}
            <div class="ui fluid selection dropdown">
                <input value="{{  method.vars.choices[0].value }}" type="hidden" id="{{ method.vars.id }}" name="{{ method.vars.full_name }}">
                <i class="dropdown icon"></i>
                <div class="default text">
                    <img class="ui mini avatar image" src="{{ method.vars.choices[0].attr['image'] }}">
                    {{ method.vars.choices[0].label }}
                </div>
                <div class="menu">
                    {% for choice in method.vars.choices %}
                        <div class="item" data-value="{{ choice.value }}">
                            <img class="ui mini avatar image" src="{{ choice.attr['image'] }}">
                            {{ choice.label }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{{ form_row(form.mollie_payment_options.cartToken) }}

<div class="form-fields" id="mollie_cart_data">
    <div class="form-group required field">
        <label class="label" for="card-holder">{{ 'bitbag_sylius_mollie_plugin.ui.card_holder'|trans }}</label>
        <div id="card-holder"></div>
        <div id="card-holder-error" class="field-error" role="alert"></div>
    </div>

    <div class="form-group form-group--card-number">
        <label class="label" for="card-number">{{ 'bitbag_sylius_mollie_plugin.ui.card_number'|trans }}</label>
        <div id="card-number"></div>
        <div id="card-number-error" class="field-error" role="alert"></div>
    </div>

    <div class="form-group form-group--expiry-date">
        <label class="label" for="expiry-date">{{ 'bitbag_sylius_mollie_plugin.ui.expiry_date'|trans }}</label>
        <div id="expiry-date"></div>
        <div id="expiry-date-error" class="field-error" role="alert"></div>
    </div>

    <div class="form-group form-group--verification-code">
        <label class="label" for="verification-code">{{ 'bitbag_sylius_mollie_plugin.ui.veryfication_code'|trans }}</label>
        <div id="verification-code"></div>
        <div id="verification-code-error" class="field-error" role="alert"></div>
    </div>
    <div id="form-error" class="form-error" role="alert"></div>
</div>

<script src="https://js.mollie.com/v1/mollie.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function () {
    let selectedValue = false;
    let cartDiv = $("#mollie_cart_data").hide();
    initializeCreditCartFields();

    $('.ui.dropdown')
        .dropdown({
            onChange: function(value) {
                selectedValue = value;
                cartDiv.hide();

                if (value === 'creditcard') {
                    cartDiv.show();
                }
            }
        })
    ;

    function initializeCreditCartFields() {
        const mollie = Mollie(
            '{{ gatewayConfig.config['profile_id'] }}',
            {
                locale: '{{ app.request.locale }}',
                testmode: true
            }
        );

        const form = document.getElementsByName("sylius_checkout_select_payment")[0];

        const formError = document.getElementById("form-error");
        const submitButton = document.getElementById("next-step");
        const tokenField = document.getElementById("sylius_checkout_select_payment_payments_0_mollie_payment_options_cartToken");

        const cardHolder = mollie.createComponent("cardHolder");
        cardHolder.mount("#card-holder");

        const cardHolderError = document.getElementById("card-holder-error");

        cardHolder.addEventListener("change", event => {
            if (event.error && event.touched) {
                cardHolderError.textContent = event.error;
            } else {
                cardHolderError.textContent = "";
            }
        });

        const cardNumber = mollie.createComponent("cardNumber");
        cardNumber.mount("#card-number");

        const cardNumberError = document.getElementById("card-number-error");

        cardNumber.addEventListener("change", event => {
            if (event.error && event.touched) {
                cardNumberError.textContent = event.error;
            } else {
                cardNumberError.textContent = "";
            }
        });

        const expiryDate = mollie.createComponent("expiryDate");
        expiryDate.mount("#expiry-date");

        const expiryDateError = document.getElementById("expiry-date-error");

        expiryDate.addEventListener("change", event => {
            if (event.error && event.touched) {
                expiryDateError.textContent = event.error;
            } else {
                expiryDateError.textContent = "";
            }
        });

        const verificationCode = mollie.createComponent("verificationCode");
        verificationCode.mount("#verification-code");

        const verificationCodeError = document.getElementById("verification-code-error");

        verificationCode.addEventListener("change", event => {
            if (event.error && event.touched) {
                verificationCodeError.textContent = event.error;
            } else {
                verificationCodeError.textContent = "";
            }
        });

        function disableForm() {
            submitButton.disabled = true;
        }

        function enableForm() {
            submitButton.disabled = false;
        }

        form.addEventListener("submit", async event => {
            if (selectedValue === 'creditcard') {
                event.preventDefault();
                disableForm();

                formError.textContent = "";

                const { token, error } = await mollie.createToken();

                if (error) {
                    enableForm();
                    formError.textContent = error.message;
                    form.classList.remove('loading');

                    return;
                }

                const tokenInput = document.createElement("input");
                tokenInput.setAttribute("name", "token");
                tokenInput.setAttribute("type", "hidden");
                tokenInput.setAttribute("value", token);

                form.appendChild(tokenInput);
                tokenField.value = token;

                form.submit();
            }
        });
    }
});
</script>
