<div class="ui basic segment grouped fields" id="issuers_data">
{% for keyChoice, choice in method.vars.choices %}
    <div class="item">
        <div class="field">
            <div class="ui radio checkbox middle aligned content">
                <input type="radio" value="{{ choice.value }}" id="{{ keyChoice }}" name="{{ method.vars.full_name }}">
                <label class="header" for="{{ keyChoice }}"> <img class="ui mini avatar image" src="{{ choice.attr['image'] }}"> {{ choice.label }}</label>
            </div>
        </div>
    </div>
{% endfor %}
</div>
