<div id="sylius-variants-recurring-times" data-unavailable-text="{{ 'sylius.ui.unavailable'|trans }}">
    {% for variant in product.getEnabledVariants() %}
        <div {% for option in variant.getOptionValues() %}data-{{ option.getOptionCode() }}="{{ option.code }}" {{ sylius_test_html_attribute('variant-times') }}{% endfor %} data-value="{{ variant.times }}" ></div>
    {% endfor %}
</div>
<div id="sylius-variants-recurring-interval" data-unavailable-text="{{ 'sylius.ui.unavailable'|trans }}">
    {% for variant in product.getEnabledVariants() %}
            <div {% for option in variant.getOptionValues() %}data-{{ option.getOptionCode() }}="{{ option.code }}" {{ sylius_test_html_attribute('variant-interval') }}{% endfor %} data-value="{{ variant.interval }}" ></div>
    {% endfor %}
</div>
