<table class="ui celled compact small table order-summary-table">
    <thead>
    <tr>
        <th class="five wide sylius-table-column-item">{{ 'sylius.ui.date'|trans }}</th>
        <th class="center aligned">{{ 'sylius.ui.number'|trans }}</th>
        <th class="center aligned">{{ 'sylius.ui.payment_state'|trans }}</th>
        <th class="center aligned">{{ 'sylius.ui.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>

    {% for item in mollie_subscription.payments %}
        <td>
            {{ item.createdAt | date ('d-m-Y H:i:s') }}
        </td>
        <td>
            <a href="{{ path('sylius_admin_order_show', {id: item.order.id}) }}"
               target="_blank">#{{ item.order.number }}</a>
        </td>

        <td>
            {% include '@SyliusAdmin/Common/Label/paymentState.html.twig' with {'data': item.state} %}
        </td>
        <td>
            {% include "@SyliusUi/Grid/Action/applyTransition.html.twig" with {
                data: item,
                options: {
                    transition: 'complete',
                    graph: 'sylius_payment',
                    link: {
                        route: 'sylius_admin_payment_complete',
                        parameters: {
                            id: item.id
                        }
                    },
                    class: 'teal',
                },
                action: {
                    label: 'sylius.ui.complete',
                    icon: 'payment'
                }
            } %}
        </td>
    {% endfor %}
    </tbody>
</table>

