<table class="ui celled compact small table order-summary-table">
    <thead>
    <tr>
        <th class="five wide sylius-table-column-item">{{ 'bitbag_sylius_mollie_plugin.ui.subscription.schedule.index'|trans }}</th>
        <th class="center aligned">{{ 'bitbag_sylius_mollie_plugin.ui.subscription.schedule.scheduled_date'|trans }}</th>
        <th class="center aligned">{{ 'bitbag_sylius_mollie_plugin.ui.subscription.schedule.fulfilled_date'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for schedule in mollie_subscription.schedules %}
        <tr>
            <td>#{{ schedule.scheduleIndex + 1 }}</td>
            <td>{{ schedule.scheduledDate | date ('d-m-Y H:i:s') }}</td>
            <td>
                {% if schedule.fulfilledDate is not empty %}
                    {{ schedule.fulfilledDate | date ('d-m-Y H:i:s') }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
