<div class="apple-pay-button-with-text apple-pay-button apple-pay-button-black" id="mollie_applepay_button"
     data-url-validate="{{ path('sylius_mollie_plugin_apple_pay_validation') }}"
     data-url-payment="{{ path('mollie_shop_checkout_apple_complete') }}"
     data-total-order="{{ order.total }}"
     data-currency-order="{{ order.channel.baseCurrency.code }}"
     data-merchant-name="{{ order.channel.name }}"
>
    <span class=" apple-pay-text">{{ 'sylius_mollie_plugin.ui.buy_with_apple_pay'|trans }}</span>
    <span class="logo"></span>
</div>
