<div class="required field">
    <label for="sylius_payment_method_gatewayConfig_config_{{ field.vars.name }}" class="required">
        {{ field.vars.label|trans|raw|nl2br }}
    </label>
    <div class="ui input">
        {{ form_widget(field) }}
        <button id="{{ field.vars.name }}" type="button" class="ui button primary">{{ 'bitbag_sylius_mollie_plugin.ui.show_hide'|trans }}</button>
    </div>
    {{ form_errors(field) }}
</div>
