{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

{% set mollie = constant('BitBag\\SyliusMolliePlugin\\Factory\\MollieGatewayFactory::FACTORY_NAME') %}

{% if form.vars.value.gatewayConfig.factoryName == 'mollie' %}
    {% include '@SyliusAdmin/PaymentMethod/_mollieMessage.html.twig' %}
    {{ bitbag_render_version_widget() }}
{% endif %}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h4>
    {{ form_errors(form) }}

    <div class="two fields">
        {{ form_row(form.code) }}
        {{ form_row(form.position) }}
    </div>
    {{ form_row(form.enabled) }}
    {{ form_row(form.channels) }}
</div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.gateway_configuration'|trans }}</h4>
    {{ form_row(form.gatewayConfig.factoryName) }}
    {% if form.gatewayConfig.config is defined %}
        {% for field in form.gatewayConfig.config %}
            {% if loop.index is odd %}<div class="two field">{% endif %}
            {% if field.vars.name == 'profile_id' or field.vars.name == 'api_key_test' %}
                {{ field.vars.label|trans|raw|nl2br }}
                {{ form_widget(field) }}
                {{ form_help(field) }}
                {{ form_errors(field) }}
            {% else %}
                {% if field.vars.name == 'api_key_live' %}
                    {{ form_row(field) }}
                    {{ form_help(field) }}
                    <button
                            class="ui blue button test-api-key-button dividing"
                            type="button"
                            data-url="{{ path('bitbag_admin_test_api_keys') }}"
                    >{{ 'bitbag_sylius_mollie_plugin.ui.test_api_keys'|trans }}
                    </button>
                    <div class="ui test-api-key-div"></div>
                {% endif %}
                {{ form_row(field) }}
                {{ form_help(field) }}
            {% endif %}
            {% if loop.index is even %}</div>{% endif %}
        {% endfor %}
    {% endif %}
</div>

{% if form.vars.value.gatewayConfig.factoryName == 'mollie' %}
    {% include 'bundles/SyliusAdminBundle/PaymentMethod/_mollieMethodsForm.html.twig' %}
{% endif %}

<div class="ui styled fluid accordion">
    {% for locale, translationForm in form.translations %}
        <div class="title{% if 0 == loop.index0 %} active{% endif %}">
            <i class="dropdown icon"></i>
            {{ flags.fromLocaleCode(locale) }} {{ locale|sylius_locale_name }}
        </div>
        <div class="content{% if 0 == loop.index0 %} active{% endif %}">
            {{ form_row(translationForm.name) }}
            {{ form_row(translationForm.description) }}
            <div class="ui compact message">
                <p>
                    <i class="icon info circle"></i> {{ 'sylius.ui.the_instructions_below_will_be_displayed_to_the_customer'|trans }}.
                </p>
            </div>
            {{ form_row(translationForm.instructions) }}
        </div>
    {% endfor %}
</div>
