<div class="ui message">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="header">
                {{ 'bitbag_sylius_mollie_plugin.ui.developed_by'|trans }} BitBag Sp. z o.o.
            </div>
            <p>{{ 'bitbag_sylius_mollie_plugin.ui.you_can_fin_info_about'|trans }} <a href="https://bitbag.io" target="_blank">https://bitbag.io</a></p>
        </div>
        <div class="eight wide column">
            <h2 class="ui header aligned right">
                <span class="ui button primary js-restart-tour">
                  Restart tour
                </span>

                <a href="https://www.mollie.com/dashboard/login?lang=en" class="ui image" target="_blank">
                    <img src="https://images.ctfassets.net/k4kk06v59kf0/5WfNYahm6s4W2aqOsUsM0y/93db1c43d56b2a073dae1faa44410619/og-image-mollie.png"
                         class="ui image">
                </a>
            </h2>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column">
            <i class="share square icon"></i>
            <a class="native-link" href="https://github.com/BitBagCommerce/SyliusMolliePlugin" target="_blank">
                {{ 'bitbag_sylius_mollie_plugin.ui.sylius_bundle'|trans }}
            </a>
        </div>
        <div class="four wide column">
            <i class="life ring icon"></i>
            <a class="native-link" href="https://bitbag.io/contact-us/" target="_blank">
                {{ 'bitbag_sylius_mollie_plugin.ui.contact_bitbag'|trans }}
            </a>
        </div>
        <div class="four wide column">
            <i class="envelope icon"></i>
            <a class="native-link" href="https://www.mollie.com/en/contact" target="_blank">
                {{ 'bitbag_sylius_mollie_plugin.ui.contact_mollie'|trans }}
            </a>
        </div>
        <div class="four wide column">
            <i class="info icon"></i>
            <a class="native-link" href="https://help.mollie.com/hc/en-us" target="_blank">
                {{ 'bitbag_sylius_mollie_plugin.ui.more_info_about_mollie'|trans }}
            </a>
        </div>
    </div>
</div>
