{% set mealvouchersId = constant('SyliusMolliePlugin\\Payments\\Methods\\MealVoucher::MEAL_VOUCHERS') %}
{% set ideal = constant('Mollie\\Api\\Types\\PaymentMethod::IDEAL') %}
{% set bancontact = constant('Mollie\\Api\\Types\\PaymentMethod::BANCONTACT') %}
{% set applePay = constant('Mollie\\Api\\Types\\PaymentMethod::APPLEPAY') %}
{% set klarnaOne = constant('Mollie\\Api\\Types\\PaymentMethod::KLARNA_ONE') %}
{% set klarnaPayLater = constant('Mollie\\Api\\Types\\PaymentMethod::KLARNA_PAY_LATER') %}
{% set klarnaSliceIt = constant('Mollie\\Api\\Types\\PaymentMethod::KLARNA_SLICE_IT') %}
{% set billie = constant('Mollie\\Api\\Types\\PaymentMethod::BILLIE') %}
{% set in3 = constant('Mollie\\Api\\Types\\PaymentMethod::IN3') %}
{% set alma = constant('Mollie\\Api\\Types\\PaymentMethod::ALMA') %}
{% set riverty = constant('Mollie\\Api\\Types\\PaymentMethod::RIVERTY') %}
{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<div class="ui segment" id="mollie-payment-form" data-status="{{resource.id}}">
{% if resource.id is null %}
    <h4 class="ui header">
        <div class="ui two column stackable grid js-onboardingWizard-load-methods">
            <div class="middle aligned column">
                {{ 'sylius_mollie_plugin.ui.payment_mathod_conf_title'|trans }}
            </div>
        </div>
    </h4>
    <div class="ui mini message center float js-payment-method-not-loaded">
        {{ 'sylius_mollie_plugin.ui.create_methods_before_loading'|trans|raw }}
    </div>
{% else %}
    <h4 class="ui header">
        <div class="ui two column stackable grid js-onboardingWizard-load-methods">
            <div class="middle aligned column">
                {{ 'sylius_mollie_plugin.ui.payment_mathod_conf_title'|trans }}
            </div>
            <div class="right aligned column">
                <div class="ui buttons js-header-btn">
                    <a href="#" id="get_methods" data-url="{{ path('mollie_admin_methods', {id: resource.gatewayConfig.id}) }}"
                       class="ui button primary">{{ 'sylius_mollie_plugin.ui.load_methods_button'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="sub header">
            <i class="info circle icon"></i>
            {{ 'sylius_mollie_plugin.ui.you_can_sort_methods_via_drag_and_drop'|trans }}
        </div>
    </h4>

    <div
        class="ui styled fluid accordion js-sortable"
        id="payment_methods"
        data-ajax-url="{{ path('mollie_admin_change_position') }}"
    >
        {% set nameFieldRendered = false %}
        {% for name, methodForm in form.gatewayConfig.mollieGatewayConfig|sort((a, b) => a.vars.value.position <=> b.vars.value.position) %}
            {% set methodImage = methodForm.vars.value.image.svg %}
            {% if methodForm.vars.value.customizeMethodImage != null and methodForm.vars.value.customizeMethodImage.path != null %}
                {% set methodImage = image_dir_global ~ methodForm.vars.value.customizeMethodImage.path %}
            {% endif %}
            <div
                class="draggable js-draggable"
                draggable="true"
                data-payment-method="{{ methodForm.vars.value.methodId }}"
                data-payment-id="{{ methodForm.vars.value.id }}"
            >
                <div class="draggable-button-enable">
                    {{ form_row(methodForm.enabled, { id: methodForm.vars.value.name }) }}
                </div>
                <div class="title{% if loop.index0 == 0 %} active{% endif %}">
                    <i class="dropdown icon"></i>
                    <img class="ui mini avatar image" src="{{ methodImage }}"/>
                    {{ methodForm.vars.value.name }}
                </div>
                <div class="content{% if loop.index0 == 0 %} active{% endif %}" data-method-id="{{methodForm.vars.name}}">
                    <div class="field">
                        {{ form_label(methodForm.translations) }}
                        <div class="accordion">
                            {% for locale, translationForm in methodForm.translations %}
                                <div class="title{% if 0 == loop.index0 %} active{% endif %}">
                                    <i class="dropdown icon"></i>
                                    {{ flags.fromLocaleCode(locale) }} {{ locale|sylius_locale_name }}
                                </div>
                                <div class="content{% if 0 == loop.index0 %} active{% endif %}">
                                    {% if nameFieldRendered is same as (false) %}
                                        {{ form_row(translationForm.name, { 'attr': { 'class': 'js-onboardingWizard-paymentName' } }) }}
                                        {% set nameFieldRendered = true %}
                                    {% else %}
                                        {{ form_row(translationForm.name) }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if methodForm.vars.value.methodId == mealvouchersId %}
                        <div class="field">
                            {{ form_widget(methodForm.defaultCategory) }}
                            {{ methodForm.defaultCategory.vars.help|trans }}
                        </div>
                    {% elseif methodForm.vars.value.methodId == applePay %}
                        <div class="field">
                            {{ form_row(methodForm.applePayDirectButton) }}
                            {{ form_help(methodForm.applePayDirectButton) }}
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="twelve wide column">
                            {{ form_row(methodForm.customizeMethodImage, { 'attr': { 'class': 'js-onboardingWizard-customizeMethodImage' } }) }}
                        </div>
                        {% if
                            methodForm.vars.value.customizeMethodImage != null and
                            methodForm.vars.value.customizeMethodImage.path != null
                        %}
                            <div class="four wide column">
                                <div
                                    class="ui button red form_button--delete-img"
                                    id="{{ name }}"
                                    data-value="{{ methodForm.vars.value.name }}"
                                    data-url="{{ path('mollie_admin_delete_logo') }}"
                                >{{ 'sylius.ui.delete'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="js-onboardingWizard-countryRestrictions">
                        <div class="field">
                            {{ form_row(methodForm.country_restriction, { 'attr': { 'class': 'js-onboardingWizard-countryRestriction' } }) }}
                        </div>
                        <div class="field">
                            <div id="country-allowed_{{ loop.index0 }}">
                                {{ form_row(methodForm.countryLevel_allowed, { 'attr': {'class': 'fluid search'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div id="country-excluded_{{ loop.index0 }}">
                            {{ form_row(methodForm.countryLevel_excluded, { 'attr': {'class': 'fluid search'} }) }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="fields">
                            <div class="twelve wide field">
                                {% if
                                    methodForm.vars.value.methodId == mealvouchersId or
                                    methodForm.vars.value.methodId == klarnaOne or
                                    methodForm.vars.value.methodId == klarnaPayLater or
                                    methodForm.vars.value.methodId == klarnaSliceIt or
                                    methodForm.vars.value.methodId == billie or
                                    methodForm.vars.value.methodId == alma or
                                    methodForm.vars.value.methodId == riverty or
                                    methodForm.vars.value.methodId == in3
                                %}
                                    {{ form_row(methodForm.paymentType, {'attr': {'disabled': 'disabled', 'class': 'js-onboardingWizard-PaymentMethod'}}) }}
                                    {{ form_help(methodForm.paymentType) }}
                                {% else %}
                                    {{ form_row(methodForm.paymentType, { 'attr': { 'class': 'js-onboardingWizard-PaymentMethod' } }) }}
                                    {{ form_help(methodForm.paymentType) }}
                                {% endif %}
                            </div>
                            <div class="four wide field">
                                {{ form_row(methodForm.orderExpiration) }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        {% if
                            methodForm.vars.value.methodId == ideal or
                            methodForm.vars.value.methodId == bancontact %}
                            {{ form_row(methodForm.qrCodeEnabled) }}
                        {% endif %}
                    </div>
                    <div class="field">
                        <div class="js-onboardingWizard-order-number">
                            {{ form_widget(methodForm.paymentDescription, { 'attr': { 'class': 'js-onboardingWizard-paymentDescription' } }) }}
                            <div id="payment_description_{{ name }}">
                                {{ methodForm.paymentDescription.vars.help|trans|raw|nl2br }}
                            </div>
                        </div>
                    </div>
                    <h4 class="ui horizontal divider header">
                        {{ 'sylius_mollie_plugin.ui.payment_fee'|trans }}
                    </h4>
                    {{ form_row(methodForm.paymentSurchargeFee, { 'attr': { 'class': 'js-onboardingWizard-paymentFee' } }) }}
                    <h4 class="ui horizontal divider header">
                        {{ 'sylius_mollie_plugin.ui.min_max'|trans }}
                    </h4>
                    <h5>{{ 'sylius_mollie_plugin.form.amount_limit_help'|trans }}</h5>
                    {{ form_row(methodForm.amountLimits, { 'attr': { 'class': 'js-onboardingWizard-minMax fields' } }) }}
                </div>
            </div>
        {% else %}
            <div class="ui mini message center float js-payment-method-not-loaded">
                {{ 'sylius_mollie_plugin.ui.no_methods_found_message'|trans }}
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>


