<div class="online-payment__credit-card" id="mollie_cart_data">
    {% set savedCardsCount = 0 %}
    {% if (true == gatewayConfig.config['single_click_enabled'] | default(false)) and getCustomerFromContext() %}
        {% set mollieCustomerId = getMollieCustomerId(order.customer.email) %}
        {% set savedCardsCount = getCustomerCreditCardsCount(mollieCustomerId) %}
        {% if (savedCardsCount > 0) %}
            <div class="mollie-components-use-saved-card">
                <div class="ui toggle checkbox checked">
                    <input type="checkbox" id="mollie-sylius-use-saved-credit-card"
                           name="mollie-sylius-use-saved-credit-card" value="1" tabindex="0" class="hidden" checked>
                    <label
                            for="mollie-sylius-use-saved-credit-card">{{ 'sylius_mollie_plugin.ui.use_saved_card'|trans }}</label>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="form-fields mollie-component-fields">
        <div class="form-group">
            <label class="label" for="card-holder">{{ 'sylius_mollie_plugin.ui.card_holder'|trans }}</label>
            <div id="card-holder"></div>
            <div id="card-holder-error" class="field-error" role="alert"></div>
        </div>

        <div class="form-group form-group--card-number">
            <label class="label" for="card-number">{{ 'sylius_mollie_plugin.ui.card_number'|trans }}</label>
            <div id="card-number"></div>
            <div id="card-number-error" class="field-error" role="alert"></div>
        </div>

        <div class="form-group form-group--expiry-date">
            <label class="label" for="expiry-date">{{ 'sylius_mollie_plugin.ui.expiry_date'|trans }}</label>
            <div id="expiry-date"></div>
            <div id="expiry-date-error" class="field-error" role="alert"></div>
        </div>

        <div class="form-group form-group--verification-code">
            <label class="label"
                   for="verification-code">{{ 'sylius_mollie_plugin.ui.veryfication_code'|trans }}</label>
            <div id="verification-code"></div>
            <div id="verification-code-error" class="field-error" role="alert"></div>
        </div>

        {% if (true == gatewayConfig.config['single_click_enabled'] | default(false)) and getCustomerFromContext() %}
            <div class="ui toggle checkbox checked">
                <input type="checkbox" id="mollie-sylius-save-credit-card" name="mollie-sylius-save-credit-card"
                       value="1" tabindex="0" class="hidden" checked>
                <label for="mollie-sylius-save-credit-card">{{ 'sylius_mollie_plugin.ui.save_card'|trans }}</label>
            </div>
        {% endif %}
        <div id="form-error" class="form-error" role="alert"></div>
    </div>
</div>
