{% extends '@SyliusAdmin/Crud/create.html.twig' %}

{% block content %}
    {% include '@SyliusAdmin/Crud/Create/_header.html.twig' %}

    <div class="ui segment">
        {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {% include 'BitBagSyliusMolliePlugin:Admin/Crud:form_validation_errors_checker.html.twig' %}

        <table id="bitbag_partial_shipment_ship_units" class="ui celled table">
            <thead>
            <tr>
                <th>{{ 'sylius.ui.product'|trans }}</th>
                <th class="center aligned"><input name="check-all" type="checkbox" data-js-bulk-checkboxes=".shipment-unit:not([disabled])"></th>
            </tr>
            </thead>
            <tbody>
            {% for unit in form.units %}
                <tr>
                    <td>{{ form_label(unit) }}</td>
                    <td class="center aligned">{{ form_widget(unit, {'attr': {'class': 'shipment-unit'}}) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="ui aligned grid">
            <div class="sixteen wide column ui">
                <div class="ui action input">
                    {{ form_widget(form.tracking) }}
                    <button class="ui labeled icon primary button" type="submit"><i class="plane icon"></i>{{- 'sylius.ui.ship'|trans -}}</button>
                    <a href="{{ path('sylius_admin_order_show', {'id': app.request.attributes.get('orderId')}) }}" class="ui button">{{ 'sylius.ui.cancel'|trans }}</a>
                </div>
            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
